<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/phishing.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="image">
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Home</a>
        
        <!-- Links -->
        <ul class="navbar-nav">
          <li class="nav-item">
          <a class="nav-link" href="/newblack">Black list</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/phishing">What is phishing site?</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="/raiting">Raiting</a>
          </li>
        
          
          <li class="new1">
          <a class="nav-link" href="/register">Register</a>
          </li>
          <li class="new2">
          <a class="nav-link" href="/login">Log in</a>
          </li>
        </ul>
        </nav>
    <div class="general">	
        <section><div class="txt">
<h2>What is phishing, its history, how to recognize<br>
such sites and how to protect yourself.</h2>
	 	 <p><h3>Let's turn to the concept of phishing:</h3></p>
<p>Phishing is a set of methods to deceive a user and force him to disclose his password, 
credit card number and other confidential information. Most often, attackers 
impersonate representatives of well-known organizations in emails or phone calls.</p></div></section>
	 	 <section><div class="txt"><p><h2>Phishing history:</h2></p>
<p>The origin of the term "phishing" is quite easy to trace. A phishing attack is largely 
similar to ordinary fishing. First you need to get a bait that can mislead the victim, and 
then throw a fishing rod and wait for the "fish" to bite.
In the 1970s, a subculture was formed, representatives of which used a number of low tech methods to hack telephone networks. These early hackers were called "phreaks", 
which is a combination of the words "phone" and "freak". At that time, the number of 
computers connected to the network was small, so the purpose of fracking was to make 
free international calls or calls to numbers not included in phone books. The use of this 
term begins in the mid-1990s, and its first mention is attributed to the infamous spammer 
and hacker Khan C Smith.
Interesting fact!
The first case of public mention of the term "phishing" has been preserved on the 
Internet.
With the advent of the 2000s, phishing fraudsters began to pay attention to the 
vulnerabilities of electronic payment systems. Clients of banks and payment systems 
began to become increasingly victims of phishing, and in some cases - as the subsequent 
investigation showed - the attackers even managed not only to accurately identify their 
victims, but also to find out which bank they used.
Cybercriminals registered dozens of domains that so elegantly imitated resources such 
as eBay and PayPal that many not too attentive users simply did not notice the 
substitution. PayPal customers received phishing emails containing links to the front 
website asking them to update their credit card number and other personal data.
1
In the mid-2000s, phishing malware could be ordered on a turnkey basis on the black 
market. At the same time, hackers began to coordinate their actions to organize 
increasingly sophisticated phishing attacks.
Interesting fact!
In 2013, 110 million credit card records and credentials belonging to Target retail 
chain customers were stolen.<br>
</p></div></section>
	 	 <section><div class="txt"><p><h2>Types of phishing attacks:</h2></p>
<p>Targeted phishing.
In this way, attackers attack a specific person or organization, often using specially 
selected content that they think will have the greatest impact on the victim. To carry out 
such an attack, careful preparation is required to find out names, positions, email 
addresses and other related information. Hackers turn upside down the entire Internet, 
comparing this information with all available information about the victim's job 
relationship: for example, they are interested in the names of colleagues and their 
responsibilities in the relevant organization. Having received all this data, the attackers 
make a plausible letter.
Targeted phishing poses a significant danger to business and the state, as it can lead to 
significant losses.
Interesting fact!
A verbose phishing letter from an unknown person calling himself a Nigerian 
prince is one of the earliest and longest manifestations of such attacks. 
Clone phishing. 
This type of attack assumes that attackers copy a previously delivered legal message 
that contains a link or attachment. The fraudster then changes links or attached files to 
malicious objects ident as real ones. Unsuspecting users click on the link or open the 
attachment, which is often enough for hackers to seize control of the computer. After 
that, attackers can disguise themselves as reliable senders and send similar emails on 
behalf of the victim to other users within the same organization.
2
A story from life!
In 2016, the British website Anorak reported that its editorial office received an 
email from a certain Dr. Bakare Tunde, who introduced himself as a space project 
manager working at the Nigerian National Space Research Agency. Dr. Tunde 
claimed that his cousin, aviation major Abak Tunde, has been on the old Soviet 
space station for more than 25 years. But for only $3 million, the managers of 
Roscosmos Corporation agreed to organize a flight of the manned ship and 
return the Nigerian cosmonaut to Earth. The recipient of such a letter was 
required to "just" provide his bank account details so that Nigerian specialists 
could transfer the necessary amount to their Russian colleagues. As a reward, 
Dr. Tunde promised to pay $600,000.
Telephone phishing.<br>
Phishing attacks can occur using a regular phone: a fraudster calls his victim and 
introduces himself as an employee of a local bank, police or tax authority. Then he 
intimidates the victim by reporting a problem and insisting that it must be solved 
immediately, and to do this, you need to inform him with his bank account details or pay 
a fine. Usually scammers require money to be transferred by bank transfer or with a 
prepaid card so that it cannot be tracked.
SMS phishing is an evil twin brother of rishing who performs the same fraudulent 
actions, but only via SMS messages.<br>
</p></div></section>
	 	 <section><div class="txt"><p><h2> How to recognize a phishing attack?</h2></p>
<p>Here are a few signs of phishing:<br>
the email, the recipient finds an offer that looks too profitable to be true. It may 
report that you won the lottery, received an expensive prize or some unique item.
For example, here's an image of another 
phishing message disguised as Amazon 
notification. Pay attention to the threat to 
close your account if no response is 
received within 48 hours.
Clicking on the link leads you to this form, 
which offers to provide the data that will open 
the way for attackers to steal your valuables.
3
How to protect yourself from phishing?
Here are some of the most important rules that will help you not to fall for the hook of 
scammers:
<p>• Do not open emails from unfamiliar senders.</p>
<p>• Click on the link inside the email only if you know exactly where it leads.</p>
<p>• After receiving an email from a dubious sender, click on the attached link 
manually - enter the address of the legal website in the browser address bar using 
the keyboard, so you will provide yourself with another level of security.</p>
<p>• Check the digital certificates of websites.</p>
<p>• If you are asked to disclose confidential data, make sure that the URL of the web 
page starts with "HTTPS", not just "HTTP". The letter "S" means "secure", that is, the 
connection with such an address is secure. However, this does not guarantee that 
the website is legal, but most legitimate websites use HTTPS because of its greater 
security. At the same time, even legitimate websites using the HTTP protocol are 
vulnerable to hacker attacks.</p>
<p>• If you suspect that the received email was sent by a fraudster, enter the sender's 
name or an excerpt of the text of the letter in the search engine - and you will see 
if there are any phishing attacks associated with this letter.</p>
<p>• Move the mouse cursor over the links to make sure they are reliable.
Be vigilant and you will never get into such situations!<br>
</p></p></div></section>
    </div>
    </div>
</body>
</html>